on:
  push:
    branches:
    - main
  workflow_dispatch:

jobs:
  bugsnag:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up BugSnag
        run: curl -o- https://raw.githubusercontent.com/bugsnag/bugsnag-cli/main/install.sh | bash
      -
        name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      -
        name: Upload release information
        run: /home/runner/.local/bugsnag/bin/bugsnag-cli create-build --api-key=${{ secrets.BUGSNAG_API_KEY }} --version-name=${{ github.sha }} --release-stage=production
