on:
  push:
    branches:
    - main
  workflow_dispatch:

jobs:
  bugsnag:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up BugSnag
        run: curl -o- https://raw.githubusercontent.com/bugsnag/bugsnag-cli/main/install.sh | bash
      -
        name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      -
        name: Upload release information
        run: /home/runner/.local/bugsnag/bin/bugsnag-cli create-build --api-key=${{ secrets.BUGSNAG_API_KEY }} --version-name=${{ github.sha }} --release-stage=production
