name: Go

on:
  workflow_dispatch:
  push:

jobs:
  lint-test-build:
    strategy:
      matrix:
        go-version: [stable]
        platform: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Lint
      run: make lint
    - name: Test
      run: |
        git config --global user.email "john.doe@example.com"
        git config --global user.name "John Doe"
        make test
    - name: Build
      run: make build
